@import '../../utils/skin/index.less';

.with-skins({
  .header{
    height: 64px;
    // border-bottom: 1px solid #f9f2f2;
    display: flex;
  }
  .header-left{
    flex: 0 0 200px;
    img {
      height: 100%;
    }
  }
  .header-right{
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  .defaultButton{
    background-color: @c-fg;
  }
});