@import '../../utils/skin/index.less';

.with-skins({
  .header{
    height: 64px;
    position: relative;
  }
  .header-left{
    display: inline-block;
    width: 200px;
    height: 64px;
    vertical-align: top;
    img {
      height: 100%;
    }
  }
  .header-right{
    display: inline-block;
    span.trigger{
      height: 64px;
      padding: 19px 24px;
      font-size: 20px;
      cursor: pointer;
      transition: all .3s,padding 0s;
    }
    span.platform-title{
      font-size: 30px;
      color: black;
      font-weight: 800;
    }
    div.header-right-components{
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
  .defaultButton{
    background-color: @c-fg;
  }
});